
.nav{
  background-color: rgb(165, 160, 169);
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}
.logo{
  color: brown;
  font-weight: bold;
  text-align: center;
}
.components{
 text-align: center;
 justify-content: end;
 display: flex;
}
.link{
  color: white;
  margin-right: 30px;
  font-weight: bold;
  text-decoration: none;
}
.sectio{
  padding:0px 15px
}
